.banner {
  font-size: 100px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: rgb(218, 171, 206);
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
  max-width: 100%;
}


img {
  max-width: 100%;
  margin: 3px;
  border: 3px solid darkslategrey;
  padding: 20px;
  float: bottom;
}
/* 
.col-md-6 p {
  text-size-adjust: 30px;
} */

body {
  font-size: 30px;
 
}